.formulario {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 80px 50px;
  flex-wrap: wrap;
}

.formulario form {
  max-width: 80%;
  background: #f7f7f7;
  border-radius: 20px;
  flex: 1;
  padding: 36px 64px;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.08);
}

.formulario form h2 {
  font-weight: 400;
  font-size: 32px;
}
